NODE_ENV=development
PORT=5004
BBB_SUBSCRIPTION_ID=
GOOGLE_CLOUD_BUCKET_NAME=
GOOGLE_CLOUD_PROJECT_ID=
JWT_SECRET=secret
MONGO_URI=
WOOCOMMERCE_API_URL=
WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=
WOOCOMMERCE_JWT_AUTH_SECURITY_KEY=
WOOCOMMERCE_WEBHOOK_SECRET=
FIREBASE_SERVER_KEY=
VIMEO_ACCESS_TOKEN=